<h1>Hello, world!</h1>
<h2>Welcome to Built Code .Net developer Test Project:</h2>
<p> As I said I had few Experience using Angular so I used these site as reference</p>
<ul>
  <li><a href='https://angular.io/'>Angular Web Site</a></li>
  <li><a href='http://www.macoratti.net/19/10/ang7_apinc1.htm'>Macoratti.Net</a></li>
  <li><a href='https://www.luisdev.com.br/2020/07/30/asp-net-core-signalr-e-angular-8-criando-um-painel-de-cotacoes-de-acoes-com-dados-em-tempo-real/'>Luis Dev Blog</a></li>
  <li><a href='https://www.ramosdainformatica.com.br/programacao/angularjs/como-usar-api-rest-com-httpclient-no-angular-8/'>Como usar API REST com HttpClient no Angular 8?</a></li>
  <li>And I already bought this course <a href="https://www.udemy.com/course/build-an-app-with-aspnet-core-and-angular-from-scratch/">Angular + .Net Udemy Course</a> to Keep learning Angular + .Net Core</li>
</ul>

<p>
  BuiltCode - The Cognitive Company
  Alameda Francisco Alves, 169 – 8º andar - Edifício Infinite Bairro Jardim – Santo André – SP - Tel.: 55 (11) 4436-9197 – www.builtcode.com.br
</p>
