<!-- Create and Update-->
<div>
  <div class="row">
    <a class="btn btn-success text-white" [routerLink]="['/patient']" [routerLinkActive]="['link-active']"> <i class="fa fa-angle-left" aria-hidden="true"></i> Back To Patients List</a>
  </div>
</div>
<section id="secForm" style="border-radius:20px; padding-top: 20px">
  <div class="card add-doctor">
    <h5 class="card-header">{{ formLabel }}</h5>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <input type="hidden" formControlName="dateCreated" />
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" required class="form-control" placeholder="Type the name of Patient">
        </div>

        <div class="form-group">
          <label for="doctorId">Doctor</label>
          <select class="form-control" name="doctorId" id="doctorId" formControlName="doctorId">
            <option *ngFor="let doctor of doctors" value="{{doctor.id}}">{{doctor.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="cpf">CPF</label>
          <input type="text" formControlName="cpf" id="cpf" name="cpf" required class="form-control" placeholder="___.___.___-__" (focusout)="verificarCpf($event)" mask="000.000.000-99">
        </div>

        <div class="form-group">
          <label for="birthDate">Birth Date</label>
          <input type="date" formControlName="birthDate" required class="form-control" placeholder="Type the Birth Date">
        </div>
        <button type="submit" class="btn btn-primary btn-add-doctor" [disabled]="!form.valid">Save</button>&nbsp;&nbsp;
        <button type="reset" class="btn btn-secondary btn-add-doctor" (click)="cancel()">Clean Fields</button>
      </form>
    </div>
  </div>
</section>
