<div class="card add-doctor">
  <h5 class="card-header">Create / Update doctor</h5>
  <div class="card-body">
    <form id="add-form" (ngSubmit)="f.form.valid && saveDoctor(f)" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="model">Name</label>
        <input type="text" [(ngModel)]="doctor.name" id="name" name="name" #name="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" placeholder="Type the name of Doctor">
        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
          <div *ngIf="name.errors.required">You must set the Name of Doctor</div>
        </div>
      </div>

      <div class="form-group">
        <label for="crm">CRM</label>
        <input type="text" [(ngModel)]="doctor.crm" id="crm" name="crm" #crm="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && crm.invalid }" placeholder="Type the CRM">
        <div *ngIf="f.submitted && crm.invalid" class="invalid-feedback">
          <div *ngIf="crm.errors.required">You must set the CRM</div>
        </div>
      </div>

      <div class="form-group">
        <label for="crmuf">CRM-UF</label>
        <input type="text" [(ngModel)]="doctor.crmuf" id="crmuf" name="crmuf" #crmuf="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && crmuf.invalid }" placeholder="Type the CRM-UF">
        <div *ngIf="f.submitted && crmuf.invalid" class="invalid-feedback">
          <div *ngIf="crmuf.errors.required">You must set the CRM-UF</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-add-doctor">Salvar</button>&nbsp;&nbsp;
      <button type="reset" class="btn btn-secondary btn-add-doctor" (click)="cleanForm(f)">Cancelar</button>
    </form>
  </div>
</div>
